extends  layout

block content
    a.nav-item.nav-link(href='/') Home
    p Please fill the form below        
       form(method='post', action='/users/login')
            .form-group
                label Username
                input.form-control(type='text', placeholder='Username', name='username')
            .form-group
                label Password
                input.form-control(type='password', placeholder='Password', name='password')       
           
            button.btn.btn-primary(type='submit') Login

        form(method='get', action='/register')
            button.btn.btn-primary(type='submit') Register
