extends  layout

block content
    a.nav-item.nav-link(href='/') Home
    p Please fill the form below
        ul.errors
            if errors
             each error in errors
               li.alert.danger #{error.msg}      
        form(method='post', action='/users')
            .form-group
                label Name
                input.form-control(type='text', placeholder='Name' name="name")
            .form-group
                label Email address
                input.form-control(type='email', name='email', placeholder='Enter email') 
            .form-group
                label Username
                input.form-control(type='text', placeholder='Username', name='username')
            .form-group
                label Password
                input.form-control(type='password', placeholder='Password', name='password')       
            .form-group
                label Confirm Password
                input.form-control(type='password', placeholder='Confirm Password', name='password2')           
            button.btn.btn-primary(type='submit') Register 
