extends  layout

block content

    .container
      p 
        form(action="/tasks"  method="post")
          label(for='new-task') Add Item
          input(type='text' name='name')
          //button.btn.btn-primary(type='submit') Login
          button(type='submit') Add
      h3 Todo
      ul#incomplete-tasks
        each task in Task
          li
            input(type='checkbox')            
            label #{task.name};
            label #{task.status};          
            input(type='text')
            
            button.edit Edit
            
            button(type='submit') Delete
                
        li.editMode
          input(type='checkbox')
          label Go Shopping
          input(type='text', value='Go Shopping')
          button.edit Edit
          button.delete Delete
      h3 Completed
      ul#completed-tasks
        li
          input(type='checkbox', checked='')
          label See the Doctor
          input(type='text')
          button.edit Edit
          button.delete Delete
   