extends  layout

block content
    .container
      p
      button(id="get-button") GetData
      form(id="create-form")
        input(type="text" id="create-input")
        button Add
      h3 Todo
      
      table 
        thead 
          tr
            th Name
            th Status
        
        tbody 
          

      h3 Completed
      ul#completed-tasks
        li
          input(type='checkbox', checked='')
          label See the Doctor
          input(type='text')
          button.edit Edit
          button.delete Delete
    
